
footer{
   
    background: linear-gradient(110deg, #4853CD 0%, rgba(71.67, 82.80, 205.26, 0.84) 46%, rgba(71.67, 82.80, 205.26, 0) 100%);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    color:white;
  }
  .container {
    display: flex;
    justify-content: space-between;
  
  }
  
  .column1 , .column2 , .column3 {
  flex-direction: column;
  margin: 10px;
   
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .input-container {
    position: relative;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 115%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #FFD9E7 ;
    background-color: transparent;
    outline: none;
  }
  
  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color:#FFD9E7 ;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  input[type="text"]:focus ~ .line,
  input[type="email"]:focus ~ .line,
  textarea:focus ~ .line {
    transform: scaleX(1);
  }
  
  input[type="submit"] {
    width: 80%;
    background-color: #FFD9E7 ;
    color: #4853CD ;
    padding: 10px;
    border: none;
    border-radius: 15%;
    cursor: pointer;
  
  }
  
  input[type="submit"]:hover {
    background-color: #FFD9E7 ;
    color: white;
  }
  .Mention-amico {
    width: 400px;
    height: 350px;
    margin-right: 100px;
  }
  .column1{
    margin-left: 100px;
  }
  .title , .form-group3{
    display:flex;
    justify-content: center;
  }
  .item1 , .item2 , .item3{
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.06) solid;
    backdrop-filter: blur(0px);
    margin: 18px;
  }
  .imgg1 , .imgg2 , .imgg3 {
    width:25px;
    height: 25px;
    margin-left:22px;
    margin-top: 22px;
  }
  .folllow{
    margin-top: -5px;
    margin-left:14px;
  }
  
  
  
  @media (min-width: 300px) and (max-width: 767px) {
    .Mention-amico{
        display: none;
    }
    .column1{
        margin-left: 22px;
    }
    .folllow{
        margin-left: 20px;
        margin-top: 10px;
    }
    .column2{
        margin-top: 22px;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    .Mention-amico{
        display: none;
    }
    .column1{
        margin-left: 65px;
    }
    .folllow{
        margin-left: 35px;
        margin-top: 10px;
        font-size: 22px;
    }
    .column2{
        margin-top: 22px;
        font-size: 22px;
    }
  }