@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Teachers-heading {
    color: #4853CD;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    font-family: Poppins;
}

.Teachers-grid {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}

.Teachers-background {
    border-radius: 30% 70% 70% 30% / 48% 50% 50% 52%;
}

.Teachers-image {
    height: 240px;
    width: 200px;
}

.Teachers-name {
    text-align: center;
    color: #4853CD;
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
    font-family: Poppins;
}